@media print {
    .header-menu-block{
		display:none
	}
	.header-cart-block {
		display: none;
	}
	.header-search-block {
		display: none;
	}
	.for_red_menu{
		display:none
	}
	.header_center_block{
		display:none
	}
	#Contact{
		display:none
	}
	#ContactMail{
		display:none
	}
	#ContactCall {
		display: none;
	}
	.left-bar{
		display:none
	}
	.produkt-wrp{
		margin-left: 10px;
		margin-bottom: 10px;
	}
	.print{
		display:none
	}
	.breadcrums{
		display:none
	}
	.qwestion {
		display:none
	}
	.go-back-wrp {
		display:none
	}
	.category-line{
		display:none
	}
	.call-block{
		display:none
	}
	footer{
		display:none
	}

	.download-price{
		display:none
	}
	.checkout-btn{
		display:none
	}
	.select_dn{
		display:none
	}
	.numer_block{
		display:none
	}
	.tab-triger-print-no{
		display:none !important;
	}
	.tab-content-print{
		display: block !important;
	}
	.tab-triger-print{
		display: block !important;
	}

	.left-menu > ul > li > a .for_img{
		height: 55px;
	    width: 45px;
	}
	.red_menu_block .link-block a .for_img{
		height: 55px;
	    width: 45px;
	}
	.left-menu > ul > li > span .for_img{
		height: 55px;
	    width: 45px;
	    line-height: 75px;
	    text-align: center;
	    float: left;
	    padding-right: 10px;
	}

}
/*.
.zadvijki_sh_black {
    background: url(../img/new_img/ICON_zadvijki_sh_b.png) 50% 50% no-repeat;
}
.homuty_rem_black {
    background: url(../img/new_img/ICON_homuty_rem_b.png) 50% 50% no-repeat;
}
.mufty_rem_black {
    background: url(../img/new_img/ICON_mufty_rem_b.png) 50% 50% no-repeat;
}

.left-menu > ul > li.active .zadvijki_black, .left-menu > ul > li > a:hover .zadvijki_black{
	background: url(../img/new_img/ICON_zadvijki_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .zadvijki_sh_black, .left-menu > ul > li > a:hover .zadvijki_sh_black{
	background: url(../img/new_img/ICON_zadvijki_sh_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .zatvoty_black, .left-menu > ul > li > a:hover .zatvoty_black{
	background: url(../img/new_img/icon_zatvoty_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .homuty_black, .left-menu > ul > li > a:hover .homuty_black{
	background: url(../img/new_img/ICON_homuty_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .mufty_black, .left-menu > ul > li > a:hover .mufty_black{
	background: url(../img/new_img/ICON_mufty_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .homuty_rem_black, .left-menu > ul > li > a:hover .homuty_rem_black{
	background: url(../img/new_img/ICON_homuty_rem_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .mufty_rem_black, .left-menu > ul > li > a:hover .mufty_rem_black{
	background: url(../img/new_img/ICON_mufty_rem_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .douplotnitely_black, .left-menu > ul > li > a:hover .douplotnitely_black{
	background: url(../img/new_img/ICON_douplotnitely_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .klapany_black, .left-menu > ul > li > a:hover .klapany_black{
	background: url(../img/new_img/ICON_klapany_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .germetizacija_black, .left-menu > ul > li > a:hover .germetizacija_black{
	background: url(../img/new_img/ICON_germetizacija_b.png) 50% 50% no-repeat;
}
.left-menu > ul > li.active .detaly_black, .left-menu > ul > li > a:hover .detaly_black{
	background: url(../img/new_img/ICON_detaly_b.png) 50% 50% no-repeat;
}

.homuty_otvodi{
	background: url(../img/new_img/ICON_homuty_otvodi.png) 50% 50% no-repeat;
}
.douplotnitely{
	background: url(../img/new_img/ICON_douplotnitely.png) 50% 50% no-repeat;
}
.kompensatory{
	background: url(../img/new_img/ICON_kompensatory.png) 50% 50% no-repeat;
}
.fitingi{
	background: url(../img/new_img/ICON_fitingi.png) 50% 50% no-repeat;
}
.flancy{
	background: url(../img/new_img/ICON_flancy.png) 50% 50% no-repeat;
}
*/
